{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'GREENERGYFORMS/favicon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'GREENERGYFORMS:upload_csv' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="csv_file">
    <button type="submit">Upload</button>
</form>
</body>
</html>